.EventInstanceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1vh;
    background-color: rgb(169, 169, 169);
}

.TypeText {
    font-size: 1vw;
    text-align: center;
}

.DataText {
    font-size: 0.8vw;
    text-align: center;
    margin-top: -0.5vw;
}