#GameBoard {
    height: 75vh;
    width: 30vw;
    outline: 0.5vw solid rgb(102, 102, 102);
    display: grid;
}



@media (min-width: 0px) {
    #GameBoard {
        height: 15vh;
        width: 90vw;
    }
}

@media (min-width: 590px) {
    #GameBoard {
        height: 15vh;
        width: 60vw;
    }
}

@media (min-width: 610px) {
    #GameBoard {
        height: 20vh;
        width: 65vw;
    }
}
