#GameMenuBackground {
    height: 75vh;
    width: 40vw;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.9);
}



.GameStatusComponent {
    position: relative;
    text-align: center;
}

#ResultText {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

#GameButtons {
    height: 25vh;
    width: 30vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 1vw;
    padding-right: 1vw;
}

#GameButtonsLevelPicker {
    height: 25vh;
    width: 30vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 1vw;
    padding-right: 1vw;
}

#LevelText {
    position: relative;
    text-align: center;
    font-size: 3vw;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#StartButton {
    position: absolute;
    text-align: center;
    font-size: 3vw;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.GameMenuButton {
    display: block;
    border-top: 0.5vw solid rgb(241, 241, 241);
    border-left: 0.5vw solid rgb(241, 241, 241);
    border-right: 0.5vw solid rgb(46, 46, 46);
    border-bottom: 0.5vw solid rgb(92, 92, 92);
    align-self: center;
    justify-self: center;
    width: 10vw;
    font-size: 2vw;
    user-select: none;
    cursor: pointer;
}

.GameMenuButton:hover {
    border-top: 0.3vw solid rgb(241, 241, 241);
    border-left: 0.3vw solid rgb(241, 241, 241);
    border-right: 0.5vw solid rgb(46, 46, 46);
    border-bottom: 0.5vw solid rgb(92, 92, 92);
}

.GameMenuButton:active {
    border-top: 0.1vw solid rgb(241, 241, 241);
    border-left: 0.1vw solid rgb(241, 241, 241);
    border-right: 0.6vw solid rgb(46, 46, 46);
    border-bottom: 0.6vw solid rgb(92, 92, 92);
}

@media (min-width: 320px) {
    #GameMenuBackground {
        height: 15vh;
        width: 70vw;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.9);
    }
}

@media (min-width: 768px) {
    #GameMenuBackground {
        height: 25vh;
        width: 70vw;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.9);
    }
}

@media (min-width: 1024px) {
    #GameMenuBackground {
        height: 75vh;
        width: 45vw;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.9);
    }
}


@media (min-width: 1440px) {
    #GameMenuBackground {
        height: 30vh;
        width: 40vw;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.9);
    }
}

@media (min-width: 2560px)  {
    #GameMenuBackground {
        height: 55vh;
        width: 50vw;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.9);
    }
}

@media (max-width: 2560px)  {
    #GameMenuBackground {
        height: 55vh;
        width: 30vw;
        display: none;
        position: absolute;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.9);
    }

    #ResultText {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vw;
    }

    #LevelText {
        position: relative;
        text-align: center;
        font-size: 3vw;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    

    #GameButtonsLevelPicker {
        height: 25vh;
        width: 30vw;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
}






