#GameMenuBackground {
    height: 75vh;
    width: 40vw;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.9);
}



.GameStatusComponent {
    position: relative;
    text-align: center;
}

#ResultText {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

#GameButtons {
    height: 25vh;
    width: 30vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 1vw;
    padding-right: 1vw;
}

#GameButtonsLevelPicker {
    height: 25vh;
    width: 30vw;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-left: 1vw;
    padding-right: 1vw;
}

#LevelText {
    position: relative;
    text-align: center;
    font-size: 3vw;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#StartButton {
    position: absolute;
    text-align: center;
    font-size: 3vw;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.GameMenuButton {
    display: block;
    border-top: 0.5vw solid rgb(241, 241, 241);
    border-left: 0.5vw solid rgb(241, 241, 241);
    border-right: 0.5vw solid rgb(46, 46, 46);
    border-bottom: 0.5vw solid rgb(92, 92, 92);
    align-self: center;
    justify-self: center;
    width: 10vw;
    font-size: 2vw;
    user-select: none;
    cursor: pointer;
}

.GameMenuButton:hover {
    border-top: 0.3vw solid rgb(241, 241, 241);
    border-left: 0.3vw solid rgb(241, 241, 241);
    border-right: 0.5vw solid rgb(46, 46, 46);
    border-bottom: 0.5vw solid rgb(92, 92, 92);
}

.GameMenuButton:active {
    border-top: 0.1vw solid rgb(241, 241, 241);
    border-left: 0.1vw solid rgb(241, 241, 241);
    border-right: 0.6vw solid rgb(46, 46, 46);
    border-bottom: 0.6vw solid rgb(92, 92, 92);
}



@media (min-width: 0px) {
    #GameMenuBackground {
        height: 15vh;
        width: 90vw;
    }

    #ResultText {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #LevelText {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #GameButtonsLevelPicker {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #StartButton {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 590px) {
    #GameMenuBackground {
        height: 15vh;
        width: 60vw;
    }

    #ResultText {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #LevelText {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #GameButtonsLevelPicker {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #StartButton {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media (min-width: 610px) {
    #GameMenuBackground {
        height: 20vh;
        width: 65vw;
    }

    #GameButtonsLevelPicker {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #StartButton {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #LevelText {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #ResultText {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media (min-width: 780px) {
    #GameMenuBackground {
        height: 20vh;
        width: 60vw;
    }

    #ResultText {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #LevelText {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #GameButtonsLevelPicker {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #StartButton {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@media (min-width: 1000px) {
    #GameMenuBackground {
        height: 20vh;
        width: 45vw;
    }

    #ResultText {
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #LevelText {
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #GameButtonsLevelPicker {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #StartButton {
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* TODO: FIX FONT SIZE */
@media (min-width: 1300px) {
    #GameMenuBackground {
        height: 50vh;
        width: 70vw;
    }

    #ResultText {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #LevelText {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #GameButtonsLevelPicker {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #StartButton {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}








