.Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px gray solid;
    box-sizing: border-box;
    overflow: hidden;
}

.Tile.uncovered {
    border-top: 0.5vw solid rgb(241, 241, 241);
    border-left: 0.5vw solid rgb(241, 241, 241);
    border-right: 0.5vw solid rgb(46, 46, 46);
    border-bottom: 0.5vw solid rgb(92, 92, 92);
    background-color: rgb(169, 169, 169);
    cursor: pointer;
}
  
.Tile.revealed {
    border: 0.2vw solid rgb(169, 169, 169);
    background-color: rgb(231, 231, 231);
    cursor: default;
}

.TestTileText {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    height: 100%;  
}